/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Roboto+Mono:wght@300&display=swap');


body{
    font-family: 'Roboto Mono', monospace;
}
.contact-image{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    border: 1px solid;
}